.calendar-bg { 
    min-height: 100vh;
    background: url('../assets/calendarbg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* background-color: #fff; */

  }